<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{.StatusCode}}</title>
    <link rel="stylesheet" href="/static/error.css">
</head>
<body>
    <div class="error-container">
        <img src="/static/11527922.jpg" alt="Error Image" class="error-image">
        <h1>{{.StatusCode}} {{.ErrorMessage}}</h1>
        <p>{{.Feedback}}</p>
        <a href="/" class="go-home-button">Go Home</a>
    </div>
</body>
</html>